/build*
/pyudmaio/build*
/pyudmaio/pyudmaio/*.so
/.vscode
/.cache
*.pyc
*.egg-info

# vim-specific things
*~
[._]*.un~

# doxygen
docs/libudmaio
docs/example

# venv in demo_python
/example/demo_python/bin
/example/demo_python/lib
/example/demo_python/lib64
/example/demo_python/pyvenv.cfg

#...or anywhere else
.venv
